{# component/_navbar.html.twig #}
{# <div class="card">
  <img class="card-img-top" src="https://picsum.photos/286/180" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ activity.title }}</h5>
    <p class="card-text">{{ activity.content }}</p>
  </div>
</div> #}


<nav>
<a href="/html/">HTML</a> |
<a href="/css/">CSS</a> |
<a href="/js/">JavaScript</a> |
<a href="/python/">Python</a>
</nav>